# Default ignored files
/../../../Салтанов - Разработка исторического веб-сайта про С.П. Королева - 3/Korolev/.idea/shelf/
/../../../Салтанов - Разработка исторического веб-сайта про С.П. Королева - 3/Korolev/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../Салтанов - Разработка исторического веб-сайта про С.П. Королева - 3/Korolev/.idea/httpRequests/
# Datasource local storage ignored files
/../../../Салтанов - Разработка исторического веб-сайта про С.П. Королева - 3/Korolev/.idea/dataSources/
/../../../Салтанов - Разработка исторического веб-сайта про С.П. Королева - 3/Korolev/.idea/dataSources.local.xml
